---
layout: base
permalink: /about/
---

<div class="root-layout">
  {% include header.html %}
  <main class="main" role="main">
    <section id="about" class="section s-about" data-analytics-page="about">
      <div class="s-about__sticker js-sticker-about"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <h2>Николай Воробьёв</h2>
            <p class="introtext"><b>тренирует 13 лет, ведёт программы на радио<br> и телевидении, пишет книги</b></p>

            <h4 class="title">Тренерский опыт</h4>
            <p>Начал тренировать в 2003 году. Провёл тренинги в 24&nbsp;городах России, Европы и&nbsp;Азии. Обучал сотрудников «Сбербанка», «Яндекса», «Альфа-Банка».</p>
            <p>С 2006 по 2010 ведущий тренер крупнейшей в мире компании, которая специализируется на знакомствах. С 2010 тренер по достижению прорывных результатов, развитию личных качеств и созданию отношений. Автор 5&nbsp;книг, 15&nbsp;тренингов, обучил 15&nbsp;000&nbsp;человек.</p>

            <h4 class="title">На телевидении</h4>
            <ul>
              <li>2006 — шоу «Правила съёма» на ТНТ — эксперт по соблазнению</li>
              <li>2010 — реалити-шоу «Pro Любoff» на 1+1 — тренер для женщин</li>
              <li>2012 — реалити-шоу «ПроРеальность» — автор и ведущий</li>
              <li>2015 — шоу «Парк» на «Первом» — передача про настоящих мужчин</li>
            </ul>

            <h4 class="title">На радио</h4>
            <ul>
              <li>Радио «Метро» — специальный выпуск про отношения</li>
              <li>2011-2013 — «Школа Соблазна» на «Подстер» — соавтор и ведущий</li>
              <li>2012 — шоу «ПроРеальность» на «Подстер» — автор и ведущий</li>
            </ul>

            <h4 class="title">Книги</h4>
            <ul>
              <li>«Легкий способ бросить дрочить»</li>
              <li>«Реальная любовь»</li>
              <li>«Как стать богатым и успешным, оставаясь тупым и ленивым»</li>
              <li>«Быстрое поднятие самооценки»</li>
              <li>«Как встать с дивана и начать добиваться желаемого»</li>
            </ul>

            <h4 class="title">30 личных достижений</h4>
            <ul>
              <li>Поехать учиться в Германию — учился год</li>
              <li>Получить сертификат MCSE — получил, и ещё 15 разных сертификатов по IT</li>
              <li>Пройти курс обучения парашютному спорту AFF — прошёл половину</li>
              <li>Выучить английский, немецкий и&nbsp;испанский — английский на отлично, немецкий и&nbsp;испанский — могу лучше</li>
              <li>Научиться продавать — создал отдел продаж из 6 человек и их научил</li>
              <li>Построить собственный бизнес в сфере IT — занял 25%&nbsp;своего рынка — 297&nbsp;корпоративных клиентов</li>
              <li>Открыть филиал в Москве — есть</li>
              <li>Переехать жить в Москву — есть</li>
              <li>Купить квартиру в центре — есть</li>
              <li>Купить спортивную машину — есть</li>
              <li>Построить отношения с чудесной девушкой — есть</li>
              <li>Похудеть на 20 килограмм — есть на 21</li>
              <li>Нырнуть с моста в реку — есть</li>
              <li>Выполнить норматив КМС по пауэрлифтингу — есть</li>
              <li>Стать тренером — есть</li>
              <li>Получить сертификат мастера НЛП — есть</li>
              <li>Написать свой тренинг — есть x15</li>
              <li>Выступить на радио — есть</li>
              <li>Переехать жить в Киев — есть</li>
              <li>Сделать своё реалити-шоу — есть два</li>
              <li>Стать ведущим тренером в компании — есть</li>
              <li>Провести тренинг за границей — есть, 7 стран, тренингов больше</li>
              <li>Провести тренинг на английском языке — есть</li>
              <li>Получить ВНЖ в Европе — получил</li>
              <li>Переехать жить в Прагу — есть</li>
              <li>Написать и выпустить книгу — 3 полноценные бумажные и несколько небольших электронных</li>
              <li>Попасть в телевизор — много раз как эксперт на Первом, ТНТ, СТБ и даже один раз, как ведущий на 1+1</li>
              <li>Открыть тренинговую компанию — есть</li>
              <li>Провести мастер-класс на 1 000 человек — есть</li>
              <li>Сделать компанию международной — есть</li>
              <li>Провести тренинги в 20 городах — есть</li>
              <li>Я фанат достижения целей и тренер. Моя профессия — сделать так, чтобы у тебя получилось.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>

{% include footer.html %}
