---
layout: base
permalink: /confirm/
---

<div class="root-layout">
  {% include header.html %}
  <main class="main" role="main">

  <section class="section s-step">
    <div class="container">
      <h3 class="title title--center">
        <b><em>Подтверди прямо сейчас</em></b> свою&nbsp;электронную&nbsp;почту
      </h3>
      <div class="step row">
        <div class="step__item col-xs-4">
          <h5>Проверь почтовый ящик</h5>
          <p>который ты&nbsp;указал на&nbsp;предыдущей странице</p>
        </div>
        <div class="step__item col-xs-4">
          <h5>Найди письмо</h5>
          <p>от&nbsp;<b>Николая&nbsp;Воробьёва</b> и&nbsp;открой&nbsp;его</p>
        </div>
        <div class="step__item col-xs-4">
          <h5>Кликни по&nbsp;ссылке</h5>
          <p>подтверждения внутри письма</p>
        </div>
      </div>

      <h3 class="text-center">Нажми чтобы проверить почту:</h3>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="row">
            <div class="col-xs-3">
              <a href="http://mail.yandex.ru" target="_blank">
                <img src="/images/mail/yandex.png" class="img-responsive"/></a>
              </a>
            </div>
            <div class="col-xs-3">
              <a href="http://e.mail.ru" target="_blank">
                <img src="/images/mail/mailru.png" class="img-responsive"/></a>
              </a>
            </div>
            <div class="col-xs-3">
              <a href="http://gmail.com" target="_blank">
                <img src="/images/mail/google.png" class="img-responsive"/></a>
              </a>
            </div>
            <div class="col-xs-3">
              <a href="http://mail.rambler.ru" target="_blank">
                <img src="/images/mail/rambler.png" class="img-responsive"/></a>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  </main>
</div>

{% include footer.html %}
