---
layout: page
group: navigation
title: Блог
homepage: true
---

{% for post in paginator.posts %}
  {% include post_list.html post=post %}
{% endfor %}

<!-- Paginator -->
{% if paginator.total_pages > 1 %}
  <nav>
    <ul class="pager">
      {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path }}">&larr; сюда</a></li>
      {% else %}
        <li class="disabled"><a>&larr; сюда</a></li>
      {% endif %}
      {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path }}">туда &rarr;</a></li>
      {% else %}
        <li class="disabled"><a>туда &rarr;</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
