---
layout: page
title: Блог
group: navigation
---

{% for post in paginator.posts %}
<div class="blog-post-preview">
  <a href="{{ post.url }}">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
      <p class="lead blog-post-subtitle">{{ post.subtitle }}</p>
    {% endif %}
  </a>
  <p class="blog-post-meta">{{ post.date | date: "%B %-d, %Y" }} by {% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %}</p>
</div><!-- /.blog-post -->
{% endfor %}

<!-- Paginator -->
{% if paginator.total_pages > 1 %}
  <nav>
    <ul class="pager">
      {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; сюда</a></li>
      {% else %}
        <li class="disabled"><a>&larr; сюда</a></li>
      {% endif %}
      {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">туда &rarr;</a></li>
      {% else %}
        <li class="disabled"><a>туда &rarr;</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
