  <header class="header">
    <div class="container">
      <div class="header__logo">
        <a href="/" class="logo" title="">
          Николай Воробьёв
        </a>
      </div>
      <nav class="header__nav">
        <ul class="menu-primary">
          <li class="menu-primary__item">
            <a href="/blog/" title="">Блог</a>
          </li>
          <li class="menu-primary__item">
            <a href="http://soedinennost.com/klr/" title="">Клуб</a>
          </li>
          <li class="menu-primary__item">
            <a href="http://pobeditel.soedinennost.com/" title="">Стань Победителем</a>
          </li>
          <li class="menu-primary__item">
            <a href="http://private.nickvorobiov.com/" title="">Создай отношения</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
