<div class="post-list">
  {% if post.picture %}
    <a href="{{ post.url }}">
      <div class="post-list--picture" style="background-image: url({{ site.post_pictures }}{{ post.picture }})">
      </div>
    </a>
  {% endif %}
  <div class="row">
    <div class="col-xs-6">
      <div class="lead post-list--category">
        {% for post_cat in post.categories %}
          {% for cat in site.data.categories %}
            {% if cat.name == post_cat %}
              <a href="/categories/{{ cat.name }}/">#{{ cat.title }}</a>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="col-xs-6">
      {% include share.html url=post.url picture=post.picture title=post.title subtitle=post.subtitle %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="{{ post.url }}">
        <h2 class="post-list--title">{{ post.title }}</h2>
        {% if post.subtitle %}
          <p class="lead post-list--subtitle">{{ post.subtitle }}</p>
        {% endif %}
      </a>
    </div>
    <div class="col-xs-6">
      <p class="post-list--meta">
        {{ post.date | date: "%B %-d, %Y" }}
      </p>
      <p class="lead">
        {{ post.teaser }}
      </p>
      <p class="lead">
        <a class="btn btn-default" href="{{ post.url }}">
          {% if post.categories contains 'audio' %}
            Слушать аудио
          {% elsif post.categories contains 'show' %}
            Смотреть видео
          {% else %}
            Читать статью
          {% endif %}
          <i class="fa fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>
</div><!-- /.post-list- -->
