<section class="section s-subscribe">
  <div class="container">
    <h3 class="title">Подпишись, чтобы получать новые выпуски на почту</h3>
    <div class="row">
      <div class="col-xs-9">
        <div class="form">
          <form method="post" action="http://love.prorealnost.com/order.php">
            <ul class="form__wrap row">
              <li class="form__item col-xs-4">
                <input type="text" class="input" name="email" placeholder="Электронная почта">
              </li>
              <li class="form__item col-xs-4">
                <button class="btn btn-primary" data-analytics="anchor-button">
                  Подписаться
                </button>
              </li>
            </ul>
            <input type="hidden" name="episode" value="{{ page.episode }}" />
            <input type="hidden" name="title" value="{{ page.title }}" />
            <input type="hidden" name="mailchimp-product-interest-id" value="79b8313fb6" />
            <input type="hidden" name="trello-list-id" value="56f188f3eca1412e4961152b" />
            <input type="hidden" name="redirect" value="http://nickvorobiov.com/confirm/" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>