/* BUTTONS
---------------------------------------- */
.btn-wrap {
  padding: 50px 0;
  &--center {
    text-align: center;
  }
}

.btn {
  font: 800 0.857rem/1 $font;
  background: #f2f2f2;
  border: 0;
  border-radius: 5px;
  color: $color-font;
  padding: 0 2.500em;
  height: 4.167em;
  line-height: 4.500em;
  //min-width: 15.714em;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  appearance: none;
  outline: 0;
  

  white-space: nowrap;

  transition: all .3s ease;
  &:hover {
    background: lighten(#f2f2f2, 2%);
  }
  &:active {
    background: darken(#f2f2f2, 2%);
  }

  &-vk {
    background: #507299;
    color: white;

    img {
      vertical-align: middle;
      margin-top: -6px;
      margin-left: 6px;
    }

    &:hover {
      background: lighten(#507299, 2%);
    }
    &:active {
      background: darken(#507299, 2%);
    }
  }

  &-primary,
  &-primary:hover,
  &-primary:active {
    background: $color-primary;
    &:hover {
      background: lighten($color-primary, 10%);
      color: darken($color-font, 10%);
    }
    &:active {
      background: darken($color-primary, 5%);
    }
  }


  &-success,
  &-success:hover,
  &-success:active {
    color: white;
    background: $color-success;
    cursor:default;
  }
  &-outline,
  &-outline:hover,
  &-outline:active {
    background: none;
    box-shadow: inset 0 0 0 2px $color-primary;
  }
    &-outline:hover {
      background: $color-primary;
    }
    &-outline:active {
      background: darken($color-primary, 2%);
    }

  &--sm {
    font-weight: 500;
    text-transform: none;

    height: 40px;
    line-height: 42px;

    padding: 0 30px;
  }
  &--lg {
    border-radius: 10px;

    font-size: 1rem;

    height: 6.429em;
    width: 100%;
    line-height: 6.714em;

    padding: 0 6.429em;
  }
}

::-webkit-input-placeholder {
  color: #666;
}
:-moz-placeholder {
  color: #666;
}

.form {
  &__wrap {
    margin: 2.286rem -1.071rem;;
    font-size: 0;
  }
  &__item {
    font-size: 1rem;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0.3rem 1.071rem;
  }
  .label {
    float: left;
    margin-top: -30px;
  }
  .input {
    color: $color-font;
    font: 700 0.857rem/4.500em $font;
    width: 100%;
    height: 4.167em;
    min-width: 15.714em;
    border: 0;
    border-radius: 5px;
    padding: 0 20px;

    border: 2px solid transparent;
    transition: all .2s;

    &.error,
    &.required,
    &:focus:invalid {
      border-color: $color-error;
    }
    /*&.valid,
    &:focus:valid {
      border-color: $color-primary;
    }*/

    &--outline {
      border-color: #f2f2f2;
    }
  }
  .btn {
    width: 100%;
  }
}

/* SASS / Social Media Brand Colors */
 
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;

/* share */

.btn-share {
  font-size: 24px;
  line-height: 1;
  height: auto;
  padding: 5px;
  min-width: auto;
}

.btn-share,
.btn-share:active,
.btn-share:hover,
.btn-share:focus,
.btn-share:visited {
  color: white;
}

.btn-share-fb,
.btn-share-fb:active,
.btn-share-fb:focus,
.btn-share-fb:visited {
  background: $facebook;
}
.btn-share-fb:hover {
  background: darken($facebook, 10%);
}
.btn-share-tw,
.btn-share-tw:active,
.btn-share-tw:focus,
.btn-share-tw:visited {
  background: $twitter;
}
.btn-share-tw:hover {
  background: darken($twitter, 10%);
}
.btn-share-vk,
.btn-share-vk:active,
.btn-share-vk:focus,
.btn-share-vk:visited {
  background: $vk;
}
.btn-share-vk:hover {
  background: darken($vk, 10%);
}
