@import '_bootstrap';
@import '_variables';
@import '_fonts';
@import '_controls';
@import '_jplayer';

/*
 * Globals
 */

html {
  font-size: 14px;
}

body {
  font: 1rem/1.75 $font;
  color: $color-font;
  margin-top: 50px;
}

.container {
  min-width: 320px;
}

a {
  color:$color-font;
  &:hover {
    text-decoration:none;
  }
}

p { margin: 0 0 1em; }
em { font-style: italic; }
b, strong { font-weight: 700; }
small { font-size: 0.857em; }

h1, h2, h3, h4, h5, h6 { font: 700 1em/1.2 $font; }

h1 { font-size: $font-size-h1; }//40
h2 { font-size: $font-size-h2; }//30
h3 { font-size: $font-size-h3; }//24
h4 { font-size: $font-size-h4; }//18
h5 { font-size: $font-size-h5; }//14
h6 { font-size: $font-size-h6; }//14

@media (max-width: $screen-xs-max) {
  h1 { font-size: $font-size-h1-xs; }
  h2 { font-size: $font-size-h2-xs; }
  h3 { font-size: $font-size-h3-xs; }
  h4 { font-size: $font-size-h4-xs; }
  h5 { font-size: $font-size-h5-xs; }
  h6 { font-size: $font-size-h6-xs; }
}

/****************************************************************************/

/** topnav **/

.topnav {
  padding: 5px 0;
  background-color: #333;

  &__logo {
    float: left;

    height: 40px;
    line-height: 40px;

    @media (min-width: $screen-sm-min) {
      height: 50px;
      line-height: 50px;
    }

    @media (max-width: $screen-xs-max) {
      width: 50%;
      margin: 4px 0 -4px;
      padding-right: 10px;
      vertical-align: middle;
    }

    a {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      color: white;
      font-weight: 600;
      font-size: 29px * 0.75;

      @media (min-width: $screen-sm-min) {
        font-size: 29px;
      }
    }
  }

  &__button {
    float: right;

    @media (min-width: $screen-md-min) {
      width: 25%;
      padding: 0 20px;
    }

    @media (max-width: $screen-xs-max) {
      width: 50%;
      a {
        display: block;
        padding: 0;
      }
    }
  }
}

/** footer **/

.footer {
  padding: 40px 0;
  margin-top: 80px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }
}

@import '_page.scss';
@import '_post-list.scss';
@import '_post.scss';
@import '_book.scss';
