.post__header {
  padding: 180px 0;

  /* background shade */
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.7), 
      rgba(255, 255, 255, 0.7)
    );
  
  h1 {
    text-align: center;
  } 
}

.post__header-background {
  background-size: cover;
  background-position: center;
}

.post__video {
  margin: 0 auto;
  display: block;
}