@import '_variables';

.post {
  &--content {
    font-size: 18px;
    line-height: 1.5;

    h1,h2,h3,h4,h5,h6 {
      margin-top: 1.5em;
      margin-bottom: 0.75em;
    }

    p,li {
      font-size: 18px;

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
      }
    }
  }

  .share {
    margin: 30px 0;
  }

  &--picture {
    background: #000;
    background-size: cover !important;
    background-position: center !important;
    color: #fff;

    padding: 100px 0;
    @media (max-width: $screen-xs-max) {
      padding: 50px 0;
    }

    .header--subtitle {
      color: white;
    }
  }

  .main {
    padding-top: 20px;
  }
}

.footer {
  position: relative;
  z-index: 500;
}

.jplayer {
  margin-bottom: 1em;
}

