.s-main {
  background: #efefef url(../images/b_main.jpg) bottom right no-repeat;
  background-size: 50%;
  min-height: 640px;
  padding: 0;
  
  @include bp-xlarge {
    min-height: 750px;
  }
  &__inner {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    min-height: 640px;
  }
  &__title {
    line-height: 1;
    margin: 0 0 1.190em;
    font-weight: 300;
    font-size: 3.5em;

    em {
      font-size: 1.714em;
      font-style: normal;
      font-weight: 700;
      display: block;
      small {
        font-size: 0.6em;
      }
    }
  }
  &__introtext {
    font-size: 1.714em;
    font-weight: 300;
    line-height: 1.2;
    max-width: 50%;
  }
  &__sign {
    color: white;
    font-weight: 700;
    position: absolute;
    right: 70px;
    bottom: 45px;
  }
}
