@import 
  url(https://fonts.googleapis.com/css?family=PT+Sans:300,400,500,600,700&subset=latin,cyrillic);
@import 
  url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700&subset=latin,cyrillic);

.container {
  min-width: 970px;
  max-width: 1170px;
}

.orange {
  color: #f7b009;
}

.orange-bg {
  background-color: #f9e17f;
}

.box {
  border: solid #f9e17f 14px;
  padding: 30px;
}

.btn-info {
  border-bottom-color: #1d6fa5;
  border-bottom-width: 5px;
}

body {
  font-family: PT Sans, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1.05px;
}

h1, h2, h3 {
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  margin: 27px 0;
}

h1 {
  font-size: 48px;
  letter-spacing: -3.8px;
  line-height: 68px;
}

h2 {
  font-size: 30px;
  letter-spacing: -3px;
  line-height: 1;
}

h3 {
  font-size: 24px;
  letter-spacing: -2px;
  margin-top: 14px;
  margin-bottom: 3px;
}

p.lead {
  font-size: 30px;
}

.flex-video.widescreen {
  padding-bottom: 52%;
  margin-top: 30px;
}

$zoom: 0.85;

#jumbo {
  margin-top: 0;
  padding: 78px 0 162px 0;
  background: #fbe9a1;

  #logo {
    width: 180px;
    height: auto;
  }

  #phone {
    text-align: right;
    font-size: 26px;
    line-height: 34px;

    @media (max-width: 1199px) {
      font-size: 26px * $zoom;
      line-height: 34px * $zoom;
    }
  }

  #jumbocontent {
    margin-top: 90px;
    margin-bottom: 30px;

    h1 {
      font-size: 42px;
      line-height: 55px;
      letter-spacing: -1.2px;
      margin-bottom: 30px;

      @media (max-width: 1199px) {
        font-size: 42px * $zoom;
        line-height: 55px * $zoom;
      }
    }

    p {
      font-size: 30px;
      line-height: 45px;

      @media (max-width: 1199px) {
        font-size: 30px * $zoom;
        line-height: 45px * $zoom;
      }
    }

    a {
      margin-top: 20px;
      font-size: 26px;

      @media (max-width: 1199px) {
        margin-top: 12px;
        font-size: 26px * $zoom;
      }

      padding: 14px 50px;
    }
  }
}

#guys {
  padding: 165px 0 0 0;

  .container {
    padding-right: 152px;

    p {
      margin-bottom: 33.5px;
    }
  }
}

#wewillmeet {
  padding: 87px 0 0 0;

  h2 {
    margin-bottom: 38px;
  }

  p {
    margin-bottom: 1px;
  }

  p.lead {
    margin-top: 24px;
  }

  p.result {
    margin-top: 40px;
  }
}

#strategy {
  padding: 116px 0 0 0; 

  .box {
    margin-top: 45px;
    padding: 32px 56px;
  }
}

#assignments {
  padding: 154px 0 0;

  .container {
    /*padding-right: 152px;*/
  }
}

#feedback {
  padding: 166px 0 0;

  .left {
    padding: 50px 80px;

    img {
      margin-bottom: 10px;
    }
  }
}

#twofiddy {
  padding: 136px 0 0;

  .option {
    margin-bottom: 32px;
  }

  .price {
    padding: 50px 85px;

    @media (max-width: 1199px) {
      padding: 50px 50px;
    }

    img {
      margin-bottom: 16px;
    }
  }
}

#pump {
  padding: 100px 0 0;
}

#result {
  padding: 100px 0 100px;
}

#join {
  padding: 30px 0 0;

  .box {
    margin-top: 40px;
    padding: 100px 54px 140px;

    p {
      font-size: 34px;
    }

    input {
      font-size: 20px;
      padding: 20px;
      height: 64px;
    }

    button {
      font-size: 28px;
    }
  }
}

#terms {
  padding: 135px 0 0;
}

#answers {
  padding: 107px 0 0;
}

#who {
  padding: 135px 0 135px;

  p {
    margin-bottom: 1px;
    font-size: 21px;
  }

  p.lead {
    margin-top: 24px;
    font-size: 26px;
  }

  .left {
    padding: 30px 68px 0px 20px;
  }
}

#foo {
  font-size: 20px;
  margin-bottom: 20px;
}