---
layout: post
---

{% if page.src %}
  {% assign href = page.src %}
{% else %}
  {% capture href %}https://raw.githubusercontent.com/prorealnost/audio/gh-pages/public/{{ page.project }}/{{ page.slug }}.mp3{% endcapture %}
{% endif %}

<div id="demo" class="audio">
  <div class="play-control control">
    <a class="play button"></a>
    <a class="pause button"></a>
  </div>
  <div class="bar">
    <div class="seek-bar">
      <div class="play-bar"></div>
      <div class="details"><span class="title"></span></div>
      <div class="timing"><span class="duration"></span></div>
    </div>
  </div>
  <div class="no-solution">Media Player Error<br>Update your browser or Flash plugin</div>
</div>
<div id="jquery_jplayer_audio_1" class="jplayer" mp3="{{ href }}" title="{{ page.title }}"></div>

<script type="text/javascript" src="/js/jplayer/jplayer/fuckup.js"></script>

{{ content }}