---
layout: default
---

{% for cat in site.data.categories %}
  {% if cat.name == page.category %}
    {% assign cat_name = cat.name %}
    {% assign cat_title = '#' | append: cat.title %}
  {% endif %}

  {% for subcat in cat.subs %}
    {% if subcat.name == page.category %}
      {% assign cat_name = subcat.name %}
      {% assign cat_title = '#' | append: subcat.title %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col-md-8 main">
      {% include header.html title=cat_title subtitle=site.title%}

      {% for post in site.categories[cat_name] %}
        {% include post_list.html post=post %}
      {% endfor %}

    </div><!-- /.blog-main -->

    <div class="col-md-3 col-md-offset-1 sidebar">
      {% include sidebar.html %}
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->
