---
layout: base
---

<link rel="stylesheet" type="text/css" href="/listbuilder.css" />

<div id="header-light">
  <div class="container">
    <p class="pull-right">+7 921 7618506</p>
    <img src="/images/logo.svg" />
    <h1>#ШоуВоробьёва</h1>
  </div>
</div>

<section id="hero">
  <div class="container">
    <h1 class="primary">{{ page.title }}</h1>
  </div>
</section>

<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="flex-video widescreen">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/{{ page.video }}?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form">
          <p class="lead text-center">Подпишись, чтобы получать новые выпуски на&nbsp;почту</p>
          <form action="http://z.prorealnost.com/order_and_redirect.php" method="POST">
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Введи своё имя" required="required" />
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Введи сюда свой email" required="required" />
            </div>
            <button type="submit" class="btn btn-warning btn-block"><span>Подписаться&nbsp;&rarr;</span></button>
            <input type="hidden" name="episode" value="{{ page.episode }}" />
            <input type="hidden" name="title" value="{{ page.title }}" />
            <input type="hidden" name="mailchimp-product-interest-id" value="79b8313fb6" />
            <input type="hidden" name="trello-list-id" value="56f188f3eca1412e4961152b" />
            <input type="hidden" name="redirect" value="http://nickvorobiov.com/confirm/" />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="partners">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-6">
        Выступал на телеканалах
        <img src="/images/partners/channels.png" class="img-responsive" style="max-height: 87px; margin: 0 auto;"/>
      </div>
      <div class="col-xs-6">
        Обучал сотрудников компаний
        <img src="/images/partners/companies.png" class="img-responsive" style="max-height: 87px; margin: 0 auto;"/>
      </div>
    </div>
  </div>
</section>
