---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-header">
        <h1 class="blog-title">{{ page.title }}</h1>
        <p class="lead blog-subtitle">{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.title }}{% endif %}</p>
        {% include post_meta.html post=page %}
      </div>

      <div class="blog-post">

        {{ content }}
      </div><!-- /.blog-post -->

      <div class="blog-post-share">
        {% include share.html url=page.url picture=page.picture title=page.title subtitle=page.subtitle %}
      </div><!-- /.blog-post -->

      <nav>
        <ul class="pager">
          {% if page.previous.url %}
            <li>
              <a href="{{ page.previous.url }}">&larr; сюда</a>
            </li>
          {% else %}
            <li class="disabled">
              <a>&larr; сюда</a>
            </li>
          {% endif %}
          {% if page.next.url %}
            <li>
              <a href="{{ page.next.url }}">туда &rarr;</a>
            </li>
          {% else %}
            <li class="disabled">
              <a>туда &rarr;</a>
            </li>
          {% endif %}
        </ul>
      </nav>

    </div><!-- /.blog-main -->

    <div class="col-md-3 col-md-offset-1 blog-sidebar">
      {% include sidebar.html %}
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->

