---
layout: base
---

<style type="text/css">
.post__header-background {
  background-image: url(/images/post/{{ page.episode }}.jpg);
}
</style>

<div class="root-layout">
  {% include header.html %}
  <main class="main" role="main">
    <div class="post__header-background">
      <section class="section post__header">
        <div class="container">
          <h1>
            #ШоуВоробьёва {{ page.episode }}
            <br/>{{ page.title }}
          </h1>
        </div>
      </section>
    </div>

    <section class="section">
      <div class="container">
        <iframe class="post__video" width="853" height="480" src="https://www.youtube.com/embed/{{ page.video }}?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>

    {% include s-subscribe-show.html %}
  </main>
</div>

{% include footer.html %}
